<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="test">
<test name ="browser" value ="Firefox"></parameter>
<classes>
<class name = "chrom.Test_chrome"></class>
</classes>
</test>
  <test name="Test_chrome">
  <parameter name ="browser value "chrome"></parameter>
  <classes>
  <class name ="chrome.Test_chrome"></class>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
